<section class="course-info">
    <div class="row">
        <div class="col-md-9">
            <h1>Titolo del corso</h1>
        </div>
        <div class="col-md-3 d-flex align-items"></div>
    </div>
    <div class=""></div>
</section>