<!--<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Pagina 1</li>
                <li>Pagina 2</li>
                <li>Pagina 3</li>
                <li>Pagina 4</li>
                <li>Pagina 5</li>
            </ul>
        </nav>
    </header>
    QUESTE SONO LE PARTI COMUNI A TUTTI I CSHTML CHE ANDRANNO IN UN FILE UNICO CHIAMATO _LAYOUT DENTRO SHARED -->

@*@{
    Layout = "_Layout";
}*@

<h1>Sono la view per l'action index dell'Homecontroller </h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, magni, tempora quae eius dolorum esse qui necessitatibus est, possimus eaque praesentium temporibus? Facilis velit quasi quas nihil repudiandae nisi dolorum!</p>
<p>Saepe dignissimos hic nihil iure magni veritatis facere asperiores autem ea numquam, omnis quis unde molestias voluptatibus, distinctio enim aut fugit. Quaerat fuga quisquam inventore eligendi soluta, porro dolorum delectus!</p>
<p>Minus, consequuntur similique sapiente facilis voluptatibus quae distinctio tenetur molestiae deleniti dicta explicabo cumque porro fugit pariatur? Non facilis quae ipsam explicabo, eius, quasi provident excepturi quidem fugit autem at!</p>
<p>Deleniti debitis obcaecati rem? Repellendus ea, repellat, delectus, mollitia exercitationem laborum ab ipsa architecto aliquid debitis dolorem? Voluptates adipisci ipsa quod at quas sint, aliquid laboriosam eveniet, aspernatur quo vitae.</p>
<p>Fuga ipsam optio quas iste praesentium qui temporibus consectetur! Eligendi accusamus harum numquam praesentium nam pariatur quos ad sint corrupti aperiam aut possimus debitis minima impedit, odio doloribus laborum aspernatur!</p>
<p>c</p>

<!--</body>
</html>-->
